# OS files
.DS_Store
Thumbs.db

# Power BI temp/cache files
*.pbix.bak
~$*.pbix

# Large binary PBIX files (uncomment if you switch fully to PBIP)
# *.pbix

# Python
__pycache__/
*.pyc

# Editor files
.vscode/
.idea/
